<router-outlet></router-outlet>
<div style="text-align:center">
  <h1>
    Detalle de carros
  </h1>
</div>
<div class="container my-4">
  <div class="row">
    <div class="col-12 col-sm-3">
      <div *ngFor='let car of cars; let i=index'>
          <button class="btn btn-primary my-3 btn-block" (click)="details(car.vehicleID)" *ngIf="i<5">{{ car.name | uppercase }}</button>
      </div>
    </div>
    <div class="col-12 col-sm-9 table-responsive-sm">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Version</th>
            <th>Precio</th>
            <th>Caracteristicas</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor='let version of selectedCar.versions'>
                <td>{{version.name}}</td>
                <td>Precio ${{version.price}}</td>
                <td>Caracteristicas: {{version.characteristics}}</td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>